@media only screen and (min-width: 60em){
    
.grid-container-main {
    grid-template-columns: auto auto auto;
    grid-gap: 5px 10px;
    align-content: flex-start;
    align-self: center;
  }


.grid-container-header-footer {
  grid-template-columns: auto auto auto;
}

main div:nth-child(3) {
  grid-column: span 1;

}

.sample_pic_1 {
  width: 270px;
}

.sample_pic_2 {
  width: 270px;
}

.sample_pic_3 {
  width: 270px;
}

}