@media only screen and (min-width: 32.5em){
    
  .grid-container-main {
    grid-template-columns: auto auto;
    grid-gap: 5px 10px;
    align-content: flex-start;
    align-self: center;
  }

  .row2 {
    grid-row: 2;
    justify-content: center;
  }
}