
h1{ 

    font-size: 14px;

}

header, footer {
    max-width: 70%;
    margin: auto;
    align-self: center;
    align-items: center;
  }
  
  main {
    font-family: 'Unna';
    max-width: 70%;
    margin: auto;
    align-self: center;
  }
  
  .grid-container-header-footer {
      display: grid;
      grid-template-columns: auto auto;
      background-color: #83bde4;
      color: white;
      font-family: 'Arvo';
      padding: 5px;
      align-items: center;
      margin: auto;
      align-self: center;
      justify-content: center;
      column-gap: 5px;
    }
    .grid-item-header-footer {
      padding: 5px;
      text-align: center;
    }

    .grid-container-main {
        display: grid;
        grid-template-columns: auto;
        font-family: 'Unna';
        padding: 5px;
        align-items: center;
        margin: auto;
        align-self: center;
        justify-content: center;
        column-gap: 5px;
      }
      .grid-item-main {
        padding: 5px;
        text-align: center;
      }

    .row1 {
      grid-row: 1;
    }

    .row2 {
      grid-row: 2;
    }
  
    .sample_1_pic {
      width: 70px;
      height: 92px;
    }

    .sample_2_pic {
        width: 70px;
        height: 92px;
      }
  
    .sample_3_pic {
        width: 70px;
        height: 92px;
    }