
header, footer {
    max-width: 70%;
    margin: auto;
    align-self: center;
    align-items: center;
  }
  
  main {
    font-family: 'Unna';
    max-width: 70%;
    margin: auto;
    align-self: center;
  }
  
  .grid-container-header-footer {
      display: grid;
      grid-template-columns: auto auto;
      background-color: #83bde4;
      color: white;
      font-family: 'Arvo';
      padding: 5px;
      align-items: center;
      margin: auto;
      align-self: center;
      justify-content: center;
      column-gap: 5px;
    }
    .grid-item-header-footer {
      padding: 5px;
      text-align: center;
    }

    .grid-container-main {
        display: grid;
        grid-template-columns: auto;
        font-family: 'Unna';
        padding: 5px;
        align-items: center;
        margin: auto;
        align-self: center;
        justify-content: center;
        column-gap: 5px;
      }
      .grid-item-main {
        padding: 5px;
        border-radius: 25px;
        border-color:#83bde4;
        border-width: 1;
        margin: auto;
        align-self: center;
      }

    .row1 {
      grid-row: 1;
    }

    .row2 {
      grid-row: 2;
    }
    .row3 {
      grid-row: 2;
    }
    .sample_pic_1 {
      width: 395px;
      height: 850px;
    }

    .sample_pic_2 {
      width: 395px;
      height: 850px;
      }
  
    .sample_pic_3 {
        width: 395px;
        height: 844px;
    }