
h1{ 

    font-size: 14px;

}

header, footer {
    box-shadow: 3px 1px 15px 1px rgba(0, 0, 0, 0.75);
    max-width: 70%;
    margin: auto;
    align-self: center;
    align-items: center;
  }
  
  main {
    font-family: 'Hind';
    max-width: 70%;
    margin: auto;
    align-self: center;
  }
  
  .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      background-color: #27a0be;
      color: white;
      font-family: 'Autowide';
      padding: 5px;
      align-items: center;
      margin: auto;
      align-self: center;
      justify-content: center;
      column-gap: 5px;
    }
    .grid-item {
      padding: 5px;
      text-align: center;
    }
  
    .row1 {
      grid-row: 1;
    }
    .row2 {
      grid-row: 2;
      color: yellow;
      }
  
    .berny_profile {
      width: 70px;
      height: 92px;
      box-shadow: 3px 1px 15px 1px rgba(0, 0, 0, 0.75);
    }

  
  