

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #016296;
    font-family: fantasy;
    padding: 10px;
  }
  .grid-item {
    padding: 5px;
    text-align: center;
  }

  .berny_profile {
    width: 110px;
    height: 135px;
  }
  
  h1 {
    color: white;
  }