.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #016296;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }

  .berny_profile {
    max-width: 110px;
    max-height: 135px;
  }
  